/* стили для nouislider */

.noUi-connect {
  background: black !important;

}
.noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle {
  background: black;

}

.noUi-handle {
  cursor: grab !important;
}

.noUi-handle:hover {
  background: #221902;
  cursor: grabbing !important;
}
