[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
  background-color: orange !important;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
  border: 2px solid orange !important;
}

[type="radio"]:checked+span {
  color: orange
}
